.body-contain{
    display: block;
    position: relative;
    top: 3rem;
}

.main-body{
    display: block;
    background-color: #F1F6FF;;
    
    position: absolute;
    left: 12rem;
    padding: 2.5rem 4rem;
    border-radius: 10px;

}


